/* body */
* {
  transition: all 0.25s;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  margin: 0;
  font-weight: 400;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

/* Font styles */

.header-1 {
  font-size: 34px;
  font-weight: 700;
  
}

.header-2 {
  font-size: 20px;
  font-weight: 600;
}

.header-nb {
  font-size: 20px;
  font-weight: 400;
}

.small {
  font-size: 10px;
  font-weight: 400;
}

.bold {
  font-size: 13px;
  font-weight: 500;
}

.big {
  font-size: 16px;
  font-weight: 500;
}

/* Colors */
.white {
  color: #fff;
}

.black {
  color: #000;
}

.blue {
  color: #006DFF;
}

.neutral {
  color: #D3EAE8;
}

.accent {
  color: #288684;
}

.light {
  color: #F8F8FF;
}

.grey {
  color: #788292;
}

.light-grey {
  color: #EAEAEA;
}

.red {
  color: #C83A3A;
}

/* Color hover */
.white-hover {
  color: #fff;
}

.black-hover {
  color: #000;
}

.blue-hover {
  color: #006DFF;
}

.neutral-hover {
  color: #D3EAE8;
}

.accent-hover {
  color: #288684;
}

.light-hover {
  color: #F8F8FF;
}

.grey-hover {
  color: #788292;
}

.light-grey-hover {
  color: #EAEAEA;
}

.red-hover {
  color: #C83A3A;
}

.white-hover:hover {
  color: rgb(224, 224, 224);
}

.black-hover:hover {
  color: rgb(51, 51, 51);
}

.blue-hover:hover {
  color: #176fe2;
}

.neutral-hover:hover {
  color: #cde2e1;
}

.accent-hover:hover {
  color: #288684;
}

.light-hover:hover {
  color: #e3e3ea;
}

.grey-hover:hover {
  color: #909cb1;
}

.light-grey-hover:hover {
  color: #f8f6f6;
}

.red-hover:hover {
  color: #d55151;
}


/* Background colors */

.bg-white {
  background-color: #fff;
}

.bg-black {
  background-color: #000;
}

.bg-blue {
  background-color: #006DFF;
}

.bg-neutral {
  background-color: #D3EAE8;
}

.bg-accent {
  background-color: #288684;
}

.bg-light {
  background-color: #F8F8FF;
}

.bg-grey {
  background-color: #788292;
}

.bg-light-grey {
  background-color: #EAEAEA;
}

.bg-red {
  background-color: #C83A3A;
}



/* Background Color hover */
.bg-white-hover {
  background-color: #fff;
}

.bg-black-hover {
  background-color: #000;
}

.bg-blue-hover {
  background-color: #006DFF;
}

.bg-neutral-hover {
  background-color: #D3EAE8;
}

.bg-accent-hover {
  background-color: #288684;
}

.bg-light-hover {
  background-color: #F8F8FF;
}

.bg-grey-hover {
  background-color: #788292;
}

.bg-light-grey-hover {
  background-color: #EAEAEA;
}

.bg-red-hover {
  background-color: #C83A3A;
}

.bg-white-hover:hover {
  background-color: rgb(224, 224, 224);
}

.bg-black-hover:hover {
  background-color: rgb(62, 62, 62);
}

.bg-blue-hover:hover {
  background-color: #176fe2;
}

.bg-neutral-hover:hover {
  background-color: #cde2e1;
}

.bg-accent-hover:hover {
  background-color: #359998;
}

.bg-light-hover:hover {
  background-color: #e3e3ea;
}

.bg-grey-hover:hover {
  background-color: #909cb1;
}

.bg-light-grey-hover:hover {
  background-color: #f8f6f6;
}

.bg-red-hover:hover {
  background-color: #d55151;
}

/* border */
.border-1 {
  border: 1px solid;
}

.border-2 {
  border: 2px solid;
}

.border-none {
  border: none;
}

.border-rounded {
  border-radius: 10px;
}

.border-rounded-more {
  border-radius: 15px;
}

.border-circle {
  border-radius: 50%;
}

.border-white {
  border-color: #fff;
}

.border-black {
  border-color: #000;
}

.border-blue {
  border-color: #006DFF;
}

.border-neutral {
  border-color: #D3EAE8;
}

.border-accent {
  border-color: #288684;
}

.border-light {
  border-color: #F8F8FF;
}

.border-grey {
  border-color: #788292;
}

.border-light-grey {
  border-color: #EAEAEA;
}

.border-red {
  border-color: #C83A3A;
}

/* Shading */

.shadow {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

/* Elements */

a {
  text-decoration: none;
  color: #788292;
}

a:hover {
  text-decoration: none;
  color: #006DFF;
}

a.inverse {
  text-decoration: none;
  color: #006DFF;
}

a.inverse:hover {
  text-decoration: none;
  color: #788292;
}

input[type=button],
input[type=submit],
button {
  width: fit-content;
  height: fit-content;
  padding: 10px;
  border: none;

  display: inline-block;
  cursor: pointer;
  box-sizing: border-box;
}
 
input[type=button].fill-container,
input[type=submit].fill-container, 
button.fill-container {
  width: 100%;
  height: 100%;
}

input[type=button].padded, 
input[type=submit].padded,
button.padded { 
  padding: 15px;
}



/* Form */
input[type=text],
input[type=password] {
  width: 100%;
  height: 40px;
  padding: 10px 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  display: inline-block;
  border: 2px solid #EAEAEA;
  background: #F2F2F2;
  box-sizing: border-box;
}


/* Header */

header {
  text-align: center;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 100;
  left: 0;
  vertical-align: middle;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-items: center;
}


header .nav-link a.active {
  color: #006DFF;
}

header .nav-logo {
  width: 200px;
  float: left;
  margin: 0 auto;
}

header .nav-signup {
  top: 0;
  float: right;
}



/* Responsive Sizing */
.full-height {
  height: 100vh;
}

.full-width {
  width: 100vw;
}

.fill-container {
  width: 100%;

}

.overflow-hidden {
  overflow: hidden;
}

.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}

.flex {
  display: flex;
  align-items: center;
  justify-items: center;
}

/* css grid system */

/* align */

.justify-content {
  align-content: center;
  justify-content: center;
}
 
.center {
  text-align: center;
}

/* Grid container */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}


/* Grid row */
.row {
  display: grid;
  place-items: center;

  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
}

/* Grid column */

.col-12 {
  grid-column: span 12
}

.col-11 {
  grid-column: span 11;
}

.col-10 {
  grid-column: span 10
}

.col-9 {
  grid-column: span 9
}

.col-8 {
  grid-column: span 8
}

.col-7 {
  grid-column: span 7
}

.col-6 {
  grid-column: span 6
}

.col-5 {
  grid-column: span 5
}

.col-4 {
  grid-column: span 4
}

.col-3 {
  grid-column: span 3
}

.col-2 {
  grid-column: span 2
}

.col-1 {
  grid-column: span 1
}

@media (min-width: 768px) {
  .col-small-12 {
    grid-column: span 12
  }

  .col-small-11 {
    grid-column: span 11;
  }

  .col-small-10 {
    grid-column: span 10
  }

  .col-small-9 {
    grid-column: span 9
  }

  .col-small-8 {
    grid-column: span 8
  }

  .col-small-7 {
    grid-column: span 7
  }

  .col-small-6 {
    grid-column: span 6
  }

  .col-small-5 {
    grid-column: span 5
  }

  .col-small-4 {
    grid-column: span 4
  }

  .col-small-3 {
    grid-column: span 3
  }

  .col-small-2 {
    grid-column: span 2
  }

  .col-small-1 {
    grid-column: span 1
  }
}

@media (min-width: 992px) {
  .col-medium-12 {
    grid-column: span 12
  }

  .col-medium-11 {
    grid-column: span 11;
  }

  .col-medium-10 {
    grid-column: span 10
  }

  .col-medium-9 {
    grid-column: span 9
  }

  .col-medium-8 {
    grid-column: span 8
  }

  .col-medium-7 {
    grid-column: span 7
  }

  .col-medium-6 {
    grid-column: span 6
  }

  .col-medium-5 {
    grid-column: span 5
  }

  .col-medium-4 {
    grid-column: span 4
  }

  .col-medium-3 {
    grid-column: span 3
  }

  .col-medium-2 {
    grid-column: span 2
  }

  .col-medium-1 {
    grid-column: span 1
  }
}

@media (min-width: 1200px) {
  .col-large-12 {
    grid-column: span 12
  }

  .col-large-11 {
    grid-column: span 11;
  }

  .col-large-10 {
    grid-column: span 10
  }

  .col-large-9 {
    grid-column: span 9
  }

  .col-large-8 {
    grid-column: span 8
  }

  .col-large-7 {
    grid-column: span 7
  }

  .col-large-6 {
    grid-column: span 6
  }

  .col-large-5 {
    grid-column: span 5
  }

  .col-large-4 {
    grid-column: span 4
  }

  .col-large-3 {
    grid-column: span 3
  }

  .col-large-2 {
    grid-column: span 2
  }

  .col-large-1 {
    grid-column: span 1
  }
}


/* Padding */

.margin-0 {
  margin: 0;
}

.margin-1 {
  margin: 0.25rem;
}

.margin-2 {
  margin: 0.5rem;
}

.margin-3 {
  margin: 1rem;
}

.margin-4 {
  margin: 1.5rem;
}

.margin-5 {
  margin: 3rem;
}

.margin-auto {
  margin: auto;
}

.margin-horizontal-0 {
  margin-right: 0;
  margin-left: 0;
}

.margin-horizontal-1 {
  margin-right: 0.25rem;
  margin-left: 0.25rem;
}

.margin-horizontal-2 {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.margin-horizontal-3 {
  margin-right: 1rem;
  margin-left: 1rem;
}

.margin-horizontal-4 {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.margin-horizontal-5 {
  margin-right: 3rem;
  margin-left: 3rem;
}

.margin-horizontal-auto {
  margin-right: auto;
  margin-left: auto;
}

.margin-vertical-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.margin-vertical-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.margin-vertical-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.margin-vertical-3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.margin-vertical-4 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.margin-vertical-5 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.margin-vertical-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.margin-top-0 {
  margin-top: 0;
}

.margin-top-1 {
  margin-top: 0.25rem;
}

.margin-top-2 {
  margin-top: 0.5rem;
}

.margin-top-3 {
  margin-top: 1rem;
}

.margin-top-4 {
  margin-top: 1.5rem;
}

.margin-top-5 {
  margin-top: 3rem;
}

.margin-top-auto {
  margin-top: auto;
}

.margin-right-0 {
  margin-right: 0;
}

.margin-right-1 {
  margin-right: 0.25rem;
}

.margin-right-2 {
  margin-right: 0.5rem;
}

.margin-right-3 {
  margin-right: 1rem;
}

.margin-right-4 {
  margin-right: 1.5rem;
}

.margin-right-5 {
  margin-right: 3rem;
}

.margin-right-auto {
  margin-right: auto;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.margin-bottom-1 {
  margin-bottom: 0.25rem;
}

.margin-bottom-2 {
  margin-bottom: 0.5rem;
}

.margin-bottom-3 {
  margin-bottom: 1rem;
}

.margin-bottom-4 {
  margin-bottom: 1.5rem;
}

.margin-bottom-5 {
  margin-bottom: 3rem;
}

.margin-bottom-auto {
  margin-bottom: auto;
}

.margin-left-0 {
  margin-left: 0;
}

.margin-left-1 {
  margin-left: 0.25rem;
}

.margin-left-2 {
  margin-left: 0.5rem;
}

.margin-left-3 {
  margin-left: 1rem;
}

.margin-left-4 {
  margin-left: 1.5rem;
}

.margin-left-5 {
  margin-left: 3rem;
}

.margin-left-auto {
  margin-left: auto;
}

.padding-0 {
  padding: 0;
}

.padding-1 {
  padding: 0.25rem;
}

.padding-2 {
  padding: 0.5rem;
}

.padding-3 {
  padding: 1rem;
}

.padding-4 {
  padding: 1.5rem;
}

.padding-5 {
  padding: 3rem;
}

.padding-horizontal-0 {
  padding-right: 0;
  padding-left: 0;
}

.padding-horizontal-1 {
  padding-right: 0.25rem;
  padding-left: 0.25rem;
}

.padding-horizontal-2 {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.padding-horizontal-3 {
  padding-right: 1rem;
  padding-left: 1rem;
}

.padding-horizontal-4 {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.padding-horizontal-5 {
  padding-right: 3rem;
  padding-left: 3rem;
}

.padding-vertical-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.padding-vertical-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.padding-vertical-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.padding-vertical-3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.padding-vertical-4 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.padding-vertical-5 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.padding-top-0 {
  padding-top: 0;
}

.padding-top-1 {
  padding-top: 0.25rem;
}

.padding-top-2 {
  padding-top: 0.5rem;
}

.padding-top-3 {
  padding-top: 1rem;
}

.padding-top-4 {
  padding-top: 1.5rem;
}

.padding-top-5 {
  padding-top: 3rem;
}

.padding-right-0 {
  padding-right: 0;
}

.padding-right-1 {
  padding-right: 0.25rem;
}

.padding-right-2 {
  padding-right: 0.5rem;
}

.padding-right-3 {
  padding-right: 1rem;
}

.padding-right-4 {
  padding-right: 1.5rem;
}

.padding-right-5 {
  padding-right: 3rem;
}

.padding-bottom-0 {
  padding-bottom: 0;
}

.padding-bottom-1 {
  padding-bottom: 0.25rem;
}

.padding-bottom-2 {
  padding-bottom: 0.5rem;
}

.padding-bottom-3 {
  padding-bottom: 1rem;
}

.padding-bottom-4 {
  padding-bottom: 1.5rem;
}

.padding-bottom-5 {
  padding-bottom: 3rem;
}

.padding-left-0 {
  padding-left: 0;
}

.padding-left-1 {
  padding-left: 0.25rem;
}

.padding-left-2 {
  padding-left: 0.5rem;
}

.padding-left-3 {
  padding-left: 1rem;
}

.padding-left-4 {
  padding-left: 1.5rem;
}

.padding-left-5 {
  padding-left: 3rem;
}

ul{

  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 9%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  
}
li a {
  display: block;
  list-style-type: none;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}